@charset "UTF-8";

/* Configuração geral do corpo da página */

    body {
    
        background-color: #6d5b54;
    }   
    h1{
        color: rgb(228, 105, 24);
        padding: 10px;
    }
    p{ 
        color: rgb(29, 173, 94);
    }